@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
	outline: none;
}

input:focus,
textarea:focus {
	outline: none;
}

.btn {
	@apply px-2 py-1 cursor-pointer border bg-white hover:bg-lime-300 active:bg-lime-300 active:scale-90 rounded transition;
}

.btnFocus {
	@apply outline outline-0 hover:outline hover:outline-lime-300 hover:outline-1 active:outline active:outline-lime-300 active:outline-1 focus:outline focus:outline-lime-300 focus:outline-1 focus-within:outline focus-within:outline-lime-300 focus-within:outline-1;
}
