@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
	height: screen;
}

input,
textarea {
	outline: none;
}

input:focus,
textarea:focus {
	outline: none;
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

.btn {
	@apply px-2 py-1 cursor-pointer border bg-white hover:bg-lime-300 active:bg-lime-300 active:scale-90 rounded transition;
}

.btnFocus {
	@apply outline outline-0 hover:outline hover:outline-lime-400 hover:outline-1 active:outline active:outline-lime-400 active:outline-1 focus:outline focus:outline-lime-400 focus:outline-1 focus-within:outline focus-within:outline-lime-400 focus-within:outline-1;
}
.shadow-top {
    box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.2);
}

.inputAdd {
	@apply px-2 py-1 bg-white border rounded transition w-auto flex items-center
}
